<!DOCTYPE html>
<html>
  <head>
    <title>Rspec</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <%= (link_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn btn-default") if current_user  %>
  </header>
  <body>
    <%= yield %>
  </body>
  <%= debug(params) if Rails.env.development? %>
</html>
